// Home.scss
.home-container {
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  width: 100%;
  text-align: center;
  margin-top: 70px;
  background-color: #6F7C6B;
}

.home-container i {
  margin-right: 5px;
}

.left-home-container,
.right-home-container {
  flex: 1;
  box-sizing: border-box;

  div {
    background-color: #9BA59C;
    transition: color 0.3s ease-in-out;
    color: #3F5347;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 10px;
    margin: 20px 10px;
    cursor: pointer;

    &:hover {
      background-color: #BABDB2;
    }

    h2 {
      margin: 0;
    }
  }
}

.left-home-container {
  margin-left: 20%;
}
.right-home-container {
  margin-right: 20%;
}